Hostname, Nameserver {
  height: auto;
}
Button {
  border: none;
  min-width: 0;
  margin: 0 0;
  padding: 0 1;
}
StatusBar {
  dock: bottom;
  height: 1;
  background: $accent;
  color: $text;
}
#confirm_dialog {
    grid-size: 2;
    grid-gutter: 1;
    grid-rows: 1fr 3;
    padding: 1 2;
    width: 40;
    height: 11;
    border: thick $primary;
    background: $surface;
    align: center middle;
}
#confirm {
    column-span: 2;
    height: 1fr;
    content-align: center middle;
}
#vlan_list_widget, #bond_list_widget {
  height: 1fr;
  border: round $accent;
  margin: 0 0;
}
Horizontal {
  height: auto;
  align: left middle;
}
.dashboard_hostname {
  height: 1fr;
}
.dashboard_interface {
  height: 3fr;
}
.dashboard_installer {
  height: 2fr;
}
DataTable {
  overflow: auto auto;
  scrollbar-gutter: stable;
  scrollbar-size: 1 1;
}
Input {
  width: auto;
  height: auto;
}
Label {
  padding: 0 0;
}
#edit_lock_label {
  color: red;
  padding: 1 1;
  text_style: bold italic;
}
.label-fixed {
  width: 18;                  
  content-align: left middle;
  padding-right: 2;         
  color: $text-muted;      
}

