Hostname, Nameserver {
  height: auto;
}
Button {
  border: none;
  min-width: 0;
  height: 1;
  margin-right: 1;
  padding: 0 0;
}
.title {
  text-style: bold;
  color: $accent;
}
#confirm_dialog {
  grid-size: 2;
  grid-gutter: 1;
  grid-rows: 1fr 3;
  padding: 1 2;
  width: 40;
  height: 11;
  border: thick $primary;
  background: $surface;
  align: center middle;
}
#confirm {
  column-span: 2;
  height: 1fr;
  content-align: center middle;
}
#vlan_list_widget, #bond_list_widget { 
  height: 1fr;
  border: round $accent;
  margin: 0 0;
}
Horizontal {
  height: auto;
  align: left middle;
}
.dashboard_hostname {
  dock: top;
  height: 2;
}
.dashboard_interface {
  height: 1fr;
  min-height: 6;
  overflow-y: hidden;
}
.dashboard_interface DataTable {
  height: 100%;
  overflow-y: auto;
  margin-bottom: 1;
}
.dashboard_installer {
  dock: bottom;
  height: 6;
  min-height: 5;
  overflow-y: hidden;
}
#dashboard_installer_status_block {
  margin-top: 0;
  padding: 0;
  background: $surface;
  border: none;
  height: 100%;
}
#prep_progress_view, #cook_progress_view {
  margin-bottom: 1;
  width: auto;
}
Input {
  width: auto;
  height: auto;
}
Label {
  padding: 0 0;
}
#edit_lock_label {
  color: red;
  padding: 1 1;
  text_style: bold italic;
}
.label-fixed {
  width: 18;                  
  content-align: left middle;
  padding-right: 2;         
  color: $text-muted;      
}
#mode_list {
  layout: grid;
  grid-size: 3;
  grid-columns: 1fr 1fr 1fr;
  height: auto;
}
#port_container {
  layout: grid;
  grid-size: 4;
  grid-columns: 1fr 1fr 1fr 1fr;
  height: auto;
}
#port_container Checkbox {
  width: auto;
}
RadioButton {
  width: 100%;
  height: auto;
  margin-right: 1;
}
#list_interface_table {
  height: 15;
  min-height: 10;
  border: round $accent;
}
#hc_ip_container {
  display: none;
}
#hc_ip_container.show {
  display: block;
}
#main_log {
  dock: bottom;
  height: 5;
  background: $surface;
  border-top: tall $accent;
  color: $text;
}
#host_list_widget {
  height: 7;
  min-height: 5;
  border: round $accent;
  margin: 0 0;
}
.workflow-row {
  margin-bottom: 0;
  align: left middle;
  height: auto;
}
#playbooks_block {
  layout: grid;
  grid-size: 6;
  grid-rows: 1 1;
  grid-gutter: 0 0;
  height: 2;
  width: 100%;
}
.row-header {
  width: 5;
  text-style: bold;
}
.workflow-btn {
  margin: 0 1;
  min-width: 0;
  width: auto;
  height: 1;
}
LogViewModal {
  align: center top;
  background: rgba(0, 0, 0, 0.6);
}
#modal-container {
  width: 100%;
  height: 100%;
  background: $panel;
  border: heavy $accent;
  padding: 0 0;
}
.modal-title {
  color: $text;
  margin-bottom: 1;
}
#modal_log_window {
  width: 100%;
  height: 1fr;
  margin-bottom: 1;
  border: solid $background;
}
